# DATABASE
DRIVER=""
DB_USER=""
DB_PASS=""
DB_HOST=""
DB_PORT=""
DB_NAME=""
ENCRYPT=""
TRUST_CERTIFICATE=""

# ""
SMTP_SERVER=""
SMTP_PORT=""
FRONTEND_BASE_URL=""

# Email Settings - Usar Graph API (true) o SMTP (false)
USE_GRAPH_FOR_EMAIL="true"

# Accesos
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_TENANT_ID=""
 
# URLS
MICROSOFT_URL=""
MICROSOFT_URL_GRAPH=""
 
# Extradata Graph
PARENT_FOLDER=""
TARGET_FOLDER=""
EMAIL_USER=""
